form {
    margin: 100px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

#name {
    margin: 0 0 15px 0;
}

.button {
    margin: 15px 10px 10px 0;
}